# Dependencies
node_modules/

# Environment variables
.env

# Uploaded images
uploads/

# Logs
*.log
npm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

eng.traineddata

ca.pem